<div class='photo fields'>
  <%= f.file_field :data %>
  <div id="photo_format_tooltip">JPEG, GIF, PNG or BMP.&nbsp;&nbsp; <b>Max size: 3 MB</b></div>
  <%= link_to_remove_fields "Отмена", f %>
</div>
