<div class='video fields'>
  <%= f.label :video_code, "Embed code or URL (YouTube only!)", :class=> 'video_label' %><br />
  <%= f.text_area :video_code, :class=> "not_so_wide" %><br />
  <%= link_to_remove_fields "Удалить", f  %>
</div>
