body {
  background:   url("/images/back.png") repeat-x scroll center top #9BB4C5;
}

#tinybox {position:absolute; display:none; padding:10px; background:#fff url(/images/preload.gif) no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:#fff}

#wrapper {
  width: 630px;
  margin: 0px auto;
}

a {
  color: #238DB1;
}


/*////////////////////////////////////////////////////////////

                          HEADER

/////////////////////////////////////////////////////////////*/

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

header table {
  margin:0; padding:0;
}
header table td, header table tr {
  margin:0; padding:0;padding-left: 10px;
}

header table td:first-child {
-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
  background-color: white;
  padding:0;
}

header h1 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-family:'times new roman',times,serif;
  font-size: 30px;
}
header h1 a:hover {
  text-decoration: none;
  color: black;
}
header h1 a {
  text-decoration: none;
  color: black;
}

header h1 .marked {
  background-color: #E1FF81;
  padding: 0 10px;
  font-size: 20px;
}

header nav {
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 10px;
  text-align: center;
  background-color: black;
  
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}

/*//////////////////////////////////////////////

              Friendfeed Boxes

////////////////////////////////////////////////*/

.box {padding: 0px;background:transparent;}
/* Page/boxes */
.box .box-top,.box .box-bottom,.box .box-corner{background-image:url("/images/box-gray.png");background-repeat:no-repeat}

.box .box-top,.box .box-bottom{margin-left:10px}

.box .box-corner{background-position:top left;margin-left:-10px;width:10px;float:left;display:inline}

.box .box-top .box-spacer,.box .box-top .box-corner{height:10px}

.box .box-bottom .box-spacer,.box .box-bottom .box-corner{height:10px}

.box .box-top{background-position:top right}

.box .box-bottom{background-position:bottom right}

.box .box-bottom .box-corner{background-position:bottom left;}

.box .box-body{background:#eee;padding-top:15px;padding-left:25px;padding-right:25px;padding-bottom:25px;-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px; border-bottom:2px solid silver;height:80px; overflow: hidden;}

.box.white .box-top,.box.white .box-bottom,.box.white .box-corner{background-image:url("/images/box-white.png")}

.box.white .box-body{background:white}

.box .box-bar,.box .box-bar .box-corner{background-repeat:no-repeat}

.box .box-bar{margin-left:10px;background-position:top right}

.box .box-bar .box-corner{background-position:top left}

.box .box-bar .box-bar-text,.box .box-bar .box-bar-text a{color:white;text-decoration:none;font-weight:bold;font-size:14px;}

.box .box-bar .box-bar-text{padding-left:5px;padding-right:7px;line-height:28px;height:28px}

.box .box-bar .box-corner{height:28px}

.box-bar-text .title{font-weight:bold}

.box .box-bar,.box .box-bar .box-corner{background-image:url("/images/bar-box-tim2.png")}

.box .box-bar.box-people,.box .box-bar.box-people .box-corner{background-image:url("/images/bar-box-people.png")}

.box .box-bar.box-user,.box .box-bar.box-user .box-corner{background-image:url("/images/bar-box-user.png")}

.box .box-bar.box-tim,.box .box-bar.box-tim .box-corner{background-image:url("/images/bar-box-tim.png")}

/* Chrome */ 

#sidebar .box .box-body{padding-top:10px;padding-left:15px;padding-right:15px;padding-bottom:10px}

#sidebar .box .footer,#sidebar .box .emptymessage{color:#737373;font-size:11px;font-family:"Lucida Grande",Tahoma,Verdana}

#sidebar .box .footer{border-top:1px solid #ccc;padding-top:5px}
#sidebar .box .pseudofooter{border:0;padding-top:5px}

#sidebar .box .emptymessage a,#sidebar .box .footer a{color:#77c}

#sidebar .box ul{list-style-type:none;margin:0;padding:0}

#sidebar .box ul li{padding-bottom:3px;white-space:nowrap;overflow:hidden}

#sidebar .box .section{margin-bottom:11px;padding-bottom:8px}

#sidebar .box .updated{font-family:"Lucida Grande",Tahoma,Verdana;font-size:11px;line-height:11px;color:#888;padding-bottom:1px}

#sidebar .box,#sidebar #profile{margin-bottom:0px}

.box .box-bar,.box .box-bar.box-people,.box .box-bar.box-user,.box .box-bar.box-tim,.box .box-bar .box-corner{background-image:url('/images/bar-box-tim2.png')}

.box .box-bar.box-people,.box .box-bar.box-people .box-corner{background-image:url('/images/bar-box-people.png')}

.box .box-bar.box-user,.box .box-bar.box-user .box-corner{background-image:url('/images/bar-box-user.png')}

.box .box-bar.box-tim,.box .box-bar.box-tim .box-corner{background-image:url('/images/bar-box-tim.png')}

.subscribebar,button.fancy{border:1px solid #437ec7;background-color:#437ec7}



nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
.contentbox {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 10px;
}

.readable {
  font-family:Georgia,serif;
  font-size:16px;
  line-height:1.3;
}

.person {
  position: relative;
}

.person .misc {
  visibility: hidden;
  height: 106px;
  position: absolute;
  top: 0px;
  right: -50px;
  width: 40px;
  padding: 0 5px;
  background-color: #DADADA;
  color: white;

-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}
.person .misc a {
  color: white;
}

.person:hover .misc {
  visibility: visible;
}

.post_header {
  padding: 0;
  padding-bottom: 20px;
}
.post_header h2 {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 18px;
}
.post_header h2 a, .contentbox h2 {
  color: #238DB1;
  text-decoration: none;
}

.post_header .author, .user-profile .editlinks, .user-profile .editlinks a {
  color: #ADADAD;
  font-size: 12px;
}
.post_header .author, .user-profile .editlinks {
  padding-left: 10px;
}

.post_content {
  padding: 0;
  padding-bottom: 20px;
  overflow: hidden;
}

.answers {
  border-top: 1px solid whitesmoke;
}

.answer {
  margin-bottom: 5px;
  padding-left: 20px;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 13px;
}

.answer_description {
  padding-left: 5px;
  color: #666666;
}

.aliencomment {
  background: url("/images/comment.png") no-repeat scroll 0 2px transparent;
}
.usercomment {
  background: url("/images/usercomment.png") no-repeat scroll 0 2px transparent;
}

.answer_holder {
  border-top: 1px solid #C1C1C1;
}
.answer_form {
  width: 600px;
  height: 40px;
  margin: 0 auto;
  background-color: #CAD3DA;
  border-top: 1px solid #abbac7;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.answer_form form {
  margin: 10px;
}

.gravatar {
  display: block; float: left; margin-right: 5px;
}

footer nav{
  display: block;
  background-color: #D7E3EB;
  border: 2px solid #4E9ED4;
  padding: 5px 10px;
  margin-top: 20px;
  color: #4C6677;
}

footer nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #4C6677;
}

footer nav ul li a:visited {
  color: #4C6677;
}



/* LOGIN FORM */

#content #form{width:630px;margin:0 auto;background:transparent;}
#content #form #form_inner{background:#D7E3EB;border: 2px solid white;margin:0 auto;padding:30px;-webkit-border-radius:10px;-moz-border-radius: 10px;border-radius: 10px;}
#content #form #form_inner #user_new{margin:0;padding:0;}
#content #form #form_inner #user_new label{font-family:Arial, Helvetica, Verdana, sans-serif;font-size:18px;color:#657788;display:block;margin-bottom:5px;font-weight:normal;}
#content #form #form_inner #user_new .nolabel {float:right;padding-top:13px;margin:0;}
#content #form #form_inner #user_new .nolabel label {display:inline;color:#929FAB;font-size:14px;}
#content #form #form_inner #user_new label .disclaimer{color:#9cacbc;font-family:"Lucida Grande", Verdana, sans-serif;font-size:11px;}
#content #form #form_inner #user_new .text_field{margin:0;outline:0 none;padding:7px;width:548px;font-family:Georgia, Times, "Times New Roman", serif;font-size:28px;border:1px solid #97b5d2;background:url('/images/input_bg.png') top left repeat-x #f7fcff;color:#25313c;}
#content #form #form_inner #user_new .text_field:focus{background-color:#f9f8e4;}
ul.errors{margin:0 0 25px 0;padding:15px 15px 5px 15px;background:url('/images/form_error_bg.png') bottom left repeat-x #ef858d;font-family:Arial, Helvetica, Verdana, sans-serif;font-size:18px;font-weight:normal;color:#631110;border-top:1px solid #7d454a;border-left:1px solid #ce7076;border-right:1px solid #ce7076;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
ul.errors li{margin:0 0 10px 0;}
#content .blue_note{position:relative;top:-50px;}
#footer{margin-top:-80px;}

.big_button {
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
background:url("/images/big_button_bg.png") repeat-x scroll center top #87B500;
border-color:#DDDDDD #689300 #689300 #DDDDDD;
border-style:solid;
border-width:0 1px 1px 0;
color:#FFFFFF;
cursor:pointer;
font-size:22px;
height:42px;
line-height:42px;
margin:0;
overflow:visible;
padding:0 15px;
text-shadow:1px 1px #719E03;
}.big_button:active{background:#87b500;color:#ECF5DE;line-height:44px;}
input, select {
color:#444444;
font:13px 'Lucida Grande',Helvetica,Arial,sans-serif;
}


.alert {
background:none repeat scroll 0 0 #FBE3E4;
color:#8A1F11;
border:2px solid #FBC2C4;
margin-bottom:1em;
padding:0.8em;
}

/*/////////////////////////////////////////////
 * 
 *             TIM TABLES
 * 
 * /////////////////////////////////////////*/

.contentbox table.tim {
  padding: 0px;
  margin: 0px;
}
.contentbox table.tim table {
  padding: 0px;
  margin: 0;
  margin-bottom: 30px;
}
.tim-quadra {
  background-color: #EEEEEE;
  font-weight: bold;
  color: #238DB1;
  text-align: center;
}

select#stype_id {
	font-size: 11px;
	height: 18px;
	padding: 1px
}
.tim-go {
  background:transparent;
  border:0;
  color:#FFFFFF;
  cursor:pointer;
  padding: 0;
  margin:0;
  margin-top: 3px;
  color:#000099;
  text-decoration:underline;
  display:block;
  font-size:12px;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}
.tim-go:hover {
  color:#08d;
}

.user-profile {
  border-bottom:1px solid #EEEEEE;
  margin-bottom:16px;
  padding-bottom:16px;
}

.user-profile .gravatar {
  float:left;
  line-height:0;
}

.user-profile .body {
  margin-left:90px;
}

.user-profile h2 {
  margin-bottom: 0;
  font-size:26px;
  font-weight:bold;
}

.user-profile .stats {
  float:right;
  margin-left:25px;
  margin-right:1px;
  text-align:right;
  white-space:nowrap;
}

.user-profile .description {
  margin-top:4px;
}

.clear {
  clear:left;
}



.photo, .video {
  background-color: #EEEEEE;
  -webkit-border-radius:5px;-moz-border-radius: 5px;border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
}
#photo_format_tooltip {
color: #999;
position: absolute;
right: 15px;
top: 14px;
white-space: nowrap;
}

.photo_holder {position: relative; width: 150px; height: 150px;}
.photo_holder .delete_photo{
  visibility: hidden;
  height: 30px;
  position:absolute;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 150px;
  background-color: white;
  text-align: center;
  filter:alpha(opacity=75); /* IE's opacity*/
  opacity: 0.75;
  }
.photo_holder:hover .delete_photo {
  visibility: visible;
}


input.text_field.big {
  font-size: 24px;
}

input.text_field, textarea {
background: white url(http://assets.tumblr.com/images/input_bg.gif) repeat-x 50% 0%;
border: 1px solid #BBB;
color: #222;
font: normal normal normal 13px/normal 'Lucida Grande', Helvetica, Arial, sans-serif;
margin: 0px;
outline: ;
padding: 7px;
}

.text_field_label {
  color: #5B6772;
  font-size: 16px;
}
.video_label {
color: #999;
}

.wide {
max-width: 576px;
min-width: 576px;
width: 576px;
}
.not_so_wide {
max-width: 554px;
min-width: 554px;
width: 554px;
height: 70px;
}

*, :active, :focus {
outline: 0px none;
outline-style: none;
outline-width: 0px;
}

.thumbnail {
  width: 145px;
  height: 100px;
  overflow: hidden;
  float: left;
  background: #EEEEEE;
  border: 1px solid white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
.thumbnail img {
  width: 150px;
}




