<% title 'О сервисе' %>
<div class="contentbox readable">
  <h2>О сервисе</h2>
    <p>Сервис для помощи в определении соционических типов известных и знакомых людей.</p>
    <p>Текущая версия: <strong>0.0.9</strong></p>
  <h2>В планах</h2>
    <dl>
      <dt>0.1.0</dt>
        <dd>Сортировать персон по полу</dd>
        <dd>Защитить форму ввода описания персоны от небезопасных тегов</dd>
        <dd>Открыть регистрацию</dd>
      <dt>0.2.0</dt>
        <dd>Возможность группировки персон по галлереям</dd>
        <dd>Загрузка фотографий персон</dd>
        <dd>Удобная вставка видео для персон</dd>
      <dt>1.0.0</dt>
        <dd>Система френдования: чтобы можно было полностью открыть регистрацию, но наблюдать за типированием только определенных пользователей, будто других на сайте нет</dd>
    </dl>
</div>
